@model Product
@{
    Layout = "_Layout";
    ViewData["title"] = "Delete Product Page";
}

<div>
    <h2>Confirm Product Deletion</h2>

    <table class="table table-secondary mt-2">
        <thead>
            <tr class="text-center">
                <th>#</th>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>

            <tr class="text-center">
                <td class="col-1">@Model.ProductId</td>
                <td class="col-2">@Model.ProductCode</td>
                <td class="col-2">@Model.Name</td>
                <td class="col-2">@Model.Price</td>
                <td class="col-2">@Model.ReleaseDate.ToShortDateString()</td>
            </tr>
        </tbody>
    </table>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ProductId" />
        <button class="btn btn-danger" type="submit">Delete</button>
        <a asp-controller="Products" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>

</div>